<h1>Edit Page</h1>


<form method="post" action="/articles/<%= @article.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>Title: <input type="text" name="article[title]" id="title" value="<%= @article.title %>"></p>
    <p>Content: <input type="textarea" name="article[content]" id="content" value="<%= @article.content %>"> </p>
    <input type="submit">
</form>