<h1>New Page</h1>

<form action="/articles" method="post">
    <p>Title: <input type="text" name="title" id="title"></p>
    <p> <input type="textarea" name="content" id="content"> </p>
    <input type="submit">
</form>